name: CI/CD Pipeline

on:
  push:
    branches: 
      - main

jobs:
  test:
    name: Run HTML Validation Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install HTML Proofer
        run: |
          sudo gem install html-proofer

      - name: Run HTML Validation Test
        run: htmlproofer ./ --log-level debug --check-html

  build:
    name: Build static website
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: "Build website (no compile needed)"
        run: |
          mkdir build
          cp -r * build/
      
      - name: Upload build artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
